@page
@model Mission9.Pages.ConfirmationModel
@{
}

<div class="text-center">
    <h1>Thank You! Your order will be shipped!</h1>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>